@font-face {
    font-family: "SharpSans-Bold";
    src: url(/fonts/SharpSans-Bold.woff);
  }
  
  @font-face {
    font-family: "SharpSans-Semibold";
    src: url(/fonts/SharpSans-Semibold.woff);
  }





div.sc-fbNXWD > * :hover {
    background: #F6F6F8 !important;
}


a.sc-hOqqkJ {
    display: none !important;
}

div.sc-euMpXR {
    display: none !important;
}

svg.sc-bdfBwQ {
    /*display: none !important;*/
}

div.sc-gsxnyZ {
    display: none !important;
}



.fVYbIi {
    /*background-image: url(/images/arch-light.svg), url(/images/left-pancake.svg),url(/images/right-pancake.svg);*/
    background-image: url("/images/cumrocket_logo_long.svg") !important;
    background-repeat: no-repeat;
    background-position: bottom !important;
    background-size: 266px !important;
    min-height: 90vh;
}

.bMwoFw {
    /*background-image: url(/images/arch-light.svg), url(/images/left-pancake.svg),url(/images/right-pancake.svg);*/
    background-image: url("/images/cumrocket_logo_long.svg") !important;
    background-repeat: no-repeat;
    background-position: bottom !important;
    background-size: 266px !important;
    min-height: 90vh;
}

body {
    background-image: url("/images/rainbow-background.jpg");
    background-repeat:no-repeat;
    background-position: center center;
    background-size: cover;
    
}


.btn-primary, .gnkXzi {
    border-radius: 50px !important;
    background-color: #32325D !important;
    font-family: "SharpSans-Bold" !important;
}

.fioAFO, .eSUmRK, .jRnbTk, .fTiQjQ, .bNvqXz {
    background-color: #F6F6F8 !important;
}

.test {
    box-shadow: none !important;
    border: 1px solid #E9EAEB !important;
    border-radius: 10px !important;
    background-color: #F6F6F8 !important;
}




 .sharp-semibold{
    color: #525F7F !important;
    font-family: "SharpSans-Semibold" !important;
}

.sharp-bold{
    color: #32325D !important;
    font-family: "SharpSans-Bold" !important;
}

.hLlXtp {
    box-shadow: 0px 5px 35px rgba(50, 50, 93, 0.1) !important;
    border-radius: 20px !important;
}

.fill-navy {
    fill: #32325D !important;
}

/* .gFLLIU, .gzLedg, .bgtyiK{
    fill: #32325D !important;
}

.ffHKsT{
    color: #EB3C84 !important;
    font-family: "SharpSans-Semibold" !important;
}


.dodwph, .gyKmmp {
    color: #EB3C84 !important;
    font-family: "SharpSans-Bold" !important;
    background-color: #FDEBF3 !important;
}

.gzLedg {
    fill: #EB3C84 !important;
}

.FdJYW svg {
    fill: #32325D !important;
}

.eCYWuG {
    border-color: #EB3C84 !important ;
    color: #EB3C84 !important ;
    font-family: "SharpSans-Semibold" !important;
}

.gLnPKv, .kZuRas {
    background-color: transparent !important;
    border-bottom: none !important;
}

.eMqzCg {
    background-color: #32325D !important;
} */