@font-face {
    font-family: "SharpSans-Bold";
    src: url(/fonts/SharpSans-Bold.woff);
  }
  
  @font-face {
    font-family: "SharpSans-Semibold";
    src: url(/fonts/SharpSans-Semibold.woff);
  }





div.sc-fbNXWD > * :hover {
    background: #F6F6F8 !important;
}


a.sc-hOqqkJ {
    display: none !important;
}

div.sc-euMpXR {
    display: none !important;
}

svg.sc-bdfBwQ {
    /*display: none !important;*/
}

div.sc-gsxnyZ {
    display: none !important;
}



.fVYbIi {
    min-height: 90vh;
}

.bMwoFw {
    min-height: 90vh;
}

body {
    background: url('/images/hero-bg2.jpg') top center no-repeat;
    background-size: cover;
    
}


.sharp-bold{
    color: #32325D !important;
    font-family: "SharpSans-Bold" !important;
}

.sharp-semibold{
    color: #525F7F !important;
    font-family: "SharpSans-Semibold" !important;
}

.fill-navy {
    fill: #32325D !important;
}

.btn-primary {
    border-radius: 50px !important;
    background-color: #32325D !important;
    font-family: "SharpSans-Bold" !important;
    box-shadow: 0px 5px 35px rgba(49, 7, 23, 0.1) !important;
}

.panel-styling {
    box-shadow: none !important;
    border: 1px solid #E9EAEB !important;
    border-radius: 10px !important;
    background-color: #F6F6F8 !important;
}

.footer-logo {
    width: 150px;
    margin-top: 16px;
}

.footer-wrap {
    align-items: center;
    display: flex;
    flex-direction: column;
}

.tol-numb {
    color: #EB3C84 !important;
    font-family: "SharpSans-Bold" !important;
}





.nav-logo{
    width: 230px !important ;
    margin-right: 24px !important;
}

.model-glow {
    background-color: red !important;
}